@import "./variables";

/*MODAL*/
.popUp {
    display: none;
    position: fixed;
    z-index: 1056;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    &Content {
        background-color: white;
        margin: auto;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        width: 70%;
    }
    &Header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dee2e6;
        .close {
            color: grey;
            font-size: 2.5rem;
        }
        .close:hover, .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
    &Body {
        flex: 1 1 auto;
        padding: 2rem 0rem 0.5rem 0rem;
    }
}

.form {
    padding: 0rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    #contactMessage {
        text-align: center;
    }
    &Inputs {
        width: 100%;
        margin-bottom: 1rem;
        color: #fff;
        background-color: #fbbb7281;
        border-color: #fbbb7281;
        font-weight: 400;
        line-height: 1.5;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        &:focus {
            box-shadow: 0 0 0 0.25rem $yellow;
        }
        &:focus-visible {
            box-shadow: 0 0 0 0.25rem $yellow;
            outline: -webkit-focus-ring-color auto 0px;
        }
    }
    &Btns {
        align-self: center;
        #clearFormBtn {
            background-color: rgba(161, 161, 161, 0.534);
            margin: 0rem 1rem 0rem 1rem;
            &:focus {
                box-shadow: 0 0 0 0.25rem rgba(161, 161, 161, 0.534);
            }
            &:active {
                box-shadow: 0 0 0 0.25rem rgba(161, 161, 161, 0.534);
            }
            &:hover {
                background-color: rgba(128, 128, 128, 0.664);
            }
        }
        #sendFormBtn {
            margin: 0rem 1rem 0rem 1rem;
        }
    }
}

/*INDEX - HERO*/
.hero {
    background-image: url(../media/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    margin: 0;
    padding-top: 12rem;
    animation-name: aparicion-hero;
    animation-duration: 3s;
    @keyframes aparicion-hero {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &Container {
        width: 35%;
        padding-left: 2rem;
    }
    &Title {
        color: $red;
        font-size: 4rem;
    }
}

/*INDEX - SECCIÓN 1*/
.sectionTitle {
    text-align: center;
}

.sectionDescription {
    text-align: center;
}

.tabContainer {
    width: 100%;
    font-size: 0;
    border-radius: 3px;
    .tabInput {
        display: none;
        &:checked + label {
            background: #eee;
            border-bottom: 2px solid $red;
        }
    }
    label {
        font-size: 16px;
        height: 36px;
        line-height: 36px;
        width: 25%;
        text-align: center;
        background: #f4f4f4;
        color: #555;
        transition: 0.25s background ease;
        cursor: pointer;
        &::after {
            border-bottom: 2px solid #e6394769;
            transition: 0.25s ease;
        }
        &:hover {
            border-bottom: 2px solid #e6394769;
        }
    }
    .contentContainer {
        background: #eee;
        font-size: 16px;
        min-height: 650px;
        padding: 10px;
    }
}

.productImg {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.productDescription {
    font-size: 1rem;
}

.inputQuantity {
    width: 35%;
    color: #fff;
    background-color: #FBBA72;
    border-color: #FBBA72;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    &:focus {
        box-shadow: 0 0 0 0.25rem #fbbb7281;
    }
    &:focus-visible {
        box-shadow: 0 0 0 0.25rem #fbbb7281;
        outline: -webkit-focus-ring-color auto 0px;
    }
}

.hidden { 
    display: none;
}

.shown {
    display: block;
}