@import "./variables";

/*MENÚ DE NAVEGACIÓN*/
.logo {
    width: 9rem;
}
nav.navbar-light {
    background-color: rgba(255, 255, 255, 0.911);
}
nav {
    font-size: 1.3rem;
    z-index: 2;
}
#navbarSupportedContent {
    justify-content: right;
}