$blue: #212529;
$red: #E63946;
$lightblue: #A8DADC;
$yellow: #FBBA72;
$container-lightblue: #A8DADCa1;
$border-btn: 1vh;
$border-container: 2vh;
$shadow-btn: 2px 2px 2px 2px #c3979f6c;
$padding-btn: 0.8rem 0.8rem;
